.product-categories {
  margin-top: -5px;
}
.product-categories .cat-item {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  color: #6e6e6e;
  word-break: break-word;
  padding-left: 10px;
  position: relative;
  transition: all 0.2s;
  margin-bottom: 12px;
}
.product-categories .cat-item:last-child {
  margin-bottom: 0;
}
.product-categories .cat-item .server-item-span {
  display: inline-block;
  width: 30%;
  padding-left: 3%;
}
.product-categories .cat-item:hover {
  color: #e40914;
}
.product-categories .cat-item:hover:before {
  color: #e40914;
}
